# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# OS/editor files
*.swp
.DS_Store
.idea

# Distribution / packaging
/.cache/
/.coverage
/.eggs/
/_build/
/build/
/dist/
/ligotimegps.egg-info/
/ligotimegps/_version.py

# Sphinx documentation
/docs/_build/
/docs/api/
